input, textarea, select {
  border-color: #000 !important;
  color: #000;
}

input::placeholder,
textarea::placeholder {
  color: #000 !important;
  opacity: 1 !important;
}
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

